.idea/
venv/
Lesson_55/Generator_Model.pt
Lesson_55/data/MNIST/raw/t10k-images-idx3-ubyte
Lesson_55/data/MNIST/raw/t10k-images-idx3-ubyte.gz
Lesson_55/data/MNIST/raw/t10k-labels-idx1-ubyte
Lesson_55/data/MNIST/raw/t10k-labels-idx1-ubyte.gz
Lesson_55/data/MNIST/raw/train-images-idx3-ubyte
Lesson_55/data/MNIST/raw/train-images-idx3-ubyte.gz
Lesson_55/data/MNIST/raw/train-labels-idx1-ubyte
Lesson_55/data/MNIST/raw/train-labels-idx1-ubyte.gz
Lesson_62/data/
Lesson_62/cifar-10-batches-py/
Lesson_66/data/
Lesson_66/img
Lesson_66/saves
Lesson_68/data
Lesson_68/runs
/_Final/00_data/cars_region_brand.parquet
/_Final/00_data/cars.csv
/_Final/00_data/cars_region_brand.csv
/_Final/00_data/cars_region_brand_2.parquet
